* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.tag-list {
    width: 100%;
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.tag-list li {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    display: inline-block;
    white-space: nowrap;
}
.tag-list li::after {
    content: "+";
    padding: 1em;
}

.scroller {
    max-width: 100vw;
}
.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.scroller[data-animated= "true"]{
    overflow: hidden;
}
[data-animated= "true"] .scroller__inner {
    flex-wrap: nowrap;
    animation: scroll var(--animation-duration, 30s) var(--animation-direction, forwards) linear infinite;
}

.scroller[data-direction= "right"]{
    --animation-direction: reverse;
}
.scroller[data-direction= "left"]{
    --animation-direction: forwards;
}
.scroller[data-speed= "slow"]{
    --animation-duration: 60s;
}
.scroller[data-speed= "fast"]{
    --animation-duration: 20s;
}
.scroller[data-speed= "middle"]{
    --animation-duration: 40s;
}

@keyframes scroll {
    to {
        transform: translateX(-100%);
    }
}